<main class="container text-center">
  <div class="text-center my-5">
    <h1>Changer le mot de passe</h1>
  </div>
  <div *ngIf="result" class="bg-success text-white my-2 col-sm-6 col-12 m-auto">
    <p>Le mot de passe a été modifié avec succès</p>
  </div>

  <div *ngIf="error" class="bg-danger text-white my-2 col-sm-6 col-12 m-auto">
    <p>{{error.status}}</p>
    <p>Le mot de passe ne peu pas êtres modifier</p>
  </div>
  <form (ngSubmit)="onSubmit()" class="col-sm-6 col-12 m-auto">
    <div class="input-group mb-3">
      <span class="input-group-text" id="password">Mot de passe</span>
      <input
          type="password"
          class="form-control"
          aria-label="Mot de passe"
          aria-describedby="password"
          name="modifyPassword.password"
          [(ngModel)]="modifyPassword.password"
          required
      >
    </div>
    <button type="submit" class="btn btn-success">Valider</button>
  </form>
</main>
