
<div class="mon-container-toast">
  <ngb-toast header="Succès" [autohide]="true" [delay]="5000" id="toast-succes" class="bg-success text-white" *ngIf="result">
    <p>Le lien de votre planning avec {{result.user.pseudo}} a était ajouter</p>
  </ngb-toast>

  <ngb-toast header="Erreur" [autohide]="true" [delay]="5000" id="toast-erreur" class="bg-danger text-white" *ngIf="error">
    <p>{{error.status}}</p>
  </ngb-toast>
</div>

<form (ngSubmit)="onSubmit()">
  <select [(ngModel)]="createUserPlanning.right" name="createUserPlanning.right" size="1">
    <option *ngFor="let right of rights" [value]="right">{{ enumRights[right] }}</option>
  </select>
  <app-search-user (select)="onSelectedUser($event)" ></app-search-user>
  <button type="submit">Inscription</button>
</form>
