<form (ngSubmit)="onSubmit()">
  <label>
    Pseudo :
    <input type="text" name="pseudo" [(ngModel)]="user.pseudo" required>
  </label>
  <label>
    Email :
    <input type="email" name="email" [(ngModel)]="user.email" required>
  </label>
  <label>
    Nom de famille :
    <input type="text" name="lastname" [(ngModel)]="user.lastname" required>
  </label>
  <label>
    Prénom :
    <input type="text" name="firstname" [(ngModel)]="user.firstname" required>
  </label>
  <label>
    Date de naissance :
    <input type="date" name="birthdate" [(ngModel)]="user.birthdate" required>
  </label>
  <label>
    Téléphone :
    <input type="text" name="phone" [(ngModel)]="user.phone">
  </label>
  <label>
    Mot de passe :
    <input type="password" name="password" [(ngModel)]="user.password" required minlength="6">
  </label>
  <label>
    Rue :
    <input type="text" name="street" [(ngModel)]="user.street">
  </label>
  <label>
    Ville :
    <input type="text" name="city" [(ngModel)]="user.city">
  </label>
  <label>
    Pays :
    <input type="text" name="country" [(ngModel)]="user.country">
  </label>
  <label>
    Code postal :
    <input type="text" name="zip" [(ngModel)]="user.zip">
  </label>
  <app-avatar-select [(ngModel)]="user.avatar" (select)="onAvatarSelect($event)"></app-avatar-select>
  <button type="submit">Inscription</button>
</form>

