<main class="container text-center">
  <div class="my-5">
    <h1>Mot de passe perdu</h1>
  </div>
  <div *ngIf="result===null" class="bg-success text-white my-2 col-sm-6 col-12 m-auto">
    <p>L'email de modification de mot de passe a été envoyé</p>
  </div>
  <div *ngIf="error" class="bg-danger text-white my-2 col-sm-6 col-12 m-auto">
    <p>{{error.status}}</p>
    <p>Impossible d'envoyer l'email</p>
  </div>

  <form (ngSubmit)="onSubmit()" class="col-sm-6 col-12 m-auto text-center">
    <div class="input-group mb-3">
      <span class="input-group-text" id="password">Email</span>
      <input
        type="email"
        class="form-control"
        aria-label="Email"
        aria-describedby="email"
        name="email"
        [(ngModel)]="email"
        required
      >
    </div>
    <button type="submit" class="btn btn-success">Vérifier</button>
  </form>
</main>

