.search {
  float: left;
  box-sizing: content-box;
  z-index: 1;
  position: absolute;
  top: 75px;
}

.font-size {
  font-size: 30px;
}

.bg-color {
  background-color: gainsboro;
}

.add {
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.max-vw-25 {
  max-width: 45vw;
}
